@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
    --standard-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --main-background-color: #e5e7eb;
    --add-book-btn-bc: #afb3b9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

.container {
    min-height: 100dvh;
    display: grid;
    grid-template-rows: 0.5fr 0.5fr 4fr 0.5fr;
    position: relative;
    z-index: 1;
}

header {
    grid-row: 1;
    box-shadow: var(--standard-box-shadow);
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 3rem;
}

.add-book-container,
main,
footer {
    background-color: var(--main-background-color);
}

.add-book-container {
    grid-row: 2;
    background-color: var(--main-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
}

.add-book:hover,
.remove:hover {
    background-color: var(--add-book-btn-bc);
}

main {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 1.5rem;
    justify-items: center;
    align-items: start;
}

.card {
    border-radius: 10px;
    padding: 2rem;
    background-color: white;
    min-height: 25rem;
    width: 22rem;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 1rem;
}

.card h5 {
    font-size: 1.5rem;
    font-weight: lighter;
    text-align: center;
}

.card-buttons {
    display: flex;
    flex-direction: column;
}

.read,
.not-read,
.remove {
    width: 100%;
}

.read {
    background-color: rgb(69, 250, 109);
}

.read:hover {
    background-color: rgb(4, 163, 38);
}

.not-read {
    background-color: rgb(252, 80, 80);
}

.not-read:hover {
    background-color: rgb(190, 4, 4);
}

.remove {
    background-color: var(--main-background-color);
}