@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
    --standard-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}